body {
  margin: 0;
  padding: 0;
}
.my-carousel{
  height:"300px"
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-link {
  color:black
}

.mynav {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 2px 0 rgba(90, 74, 74, 0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.custom-card {
  cursor: pointer;
  transition: all 0.5s;
}

.custom-card:hover {
  transform: translateY(-1%)
}

.footer {
  color: #fcfcfa;
  padding: 24px;
  border-top: 1px solid #b5b5b5;
  background-color: #282826;
}

.search-custom {
  background-color: #eeeff5;
  display: flex;
  padding:4px;
  border-radius: 24px;
  margin-right: 16px;
  border: 1px solid #eeeff5;
}

.search-custom input {
  background-color:  #eeeff5;
  border: 1px solid red;
  margin-left: 4px;
  border:none;
  width: 100%;
}

.search-custom input:focus {
  outline:none;
}

.pading-custom-8 {
  padding-left: 8px !important;
  padding-right:8px !important;
}