#container_1 {
    background-image: url('/images/img_1.jpg');
}
.owl-carousel {
    display: block;
}

.price {
    font-size: large;
    font-weight: bold;
}

.login_container {
    position: absolute;
    top:0;
    right:24px;
}

.login-form {
    border: 1px solid rgb(142 142 142);
    padding:24px;
    background-color: #000000a6;
    border-radius: 12px;
}
.login-background {
   
    border: 1px solid #f3f3f3;
    height: 700px;
    background-image: url('/images/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
}

.custom-spiner {
    border: 4px solid #0042A4;
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1s linear infinite;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.ck-editor__editable {
    min-height: 500px;
}

.custom-list {
  list-style-type: none;
}
.custom-list li {
  padding: 6px
}

.custom-list li:hover {
  color:black;
}

.custom-container {
  position: relative;
}

.chat-container {
  z-index: 10;
  position: fixed;
  bottom: 12px;
  right: 1px;
  background-color: #f8f9fb;
  height: 500px;
  width: 400px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 2px 0 rgba(61, 45, 45, 0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.chat-header {
  background-color: #ffffff;
  height: 10%;
  border: 1px solid #efefef;
  box-shadow: 0 2px 2px 0 rgba(61, 45, 45, 0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.my_msg {
  margin-top: 8px;
  float: right;
  width: 80%;
}
.my-msg-content{
  color:white;
  background-color: #1a4aa4;
  border: 1px solid #829ccd;
}
.msg-info {
  font-size: 12px;
}

.store-msg-content {
  background-color: #eeeeee;
  border:1px solid rgb(238, 238, 238);
}

.forloat {
  width: 85%;
}

.store_msg {
  display: flex;
  margin-top: 8px;
  float: left;
  width:80%;
}


.msg-content {
  padding: 8px;
  border-radius: 24px;
}
.chat-content {
  overflow: scroll;
  padding:8px;
  height:80%
}
.chat-input {
  height:10%;
}

.user-info-bar {
  position: relative;
  padding:4px;
  cursor: pointer;
}

.user-info-dropdown {
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  width: 250px;
  top:150%;
  right:8px;
  padding:0;
  margin: 0;
  box-shadow: 0 2px 2px 0 rgba(87, 85, 85, 0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 12px;
}
.user-info-dropdown li {
  list-style-type: none;
  padding: 8px;
  border-bottom: 1px solid #d3d3d3;
  width:100%;
}

.user-info-dropdown li:hover {
  color:rgb(173, 173, 173);
}
.link-media-service:hover{
  color:rgb(131, 131, 131) !important
}

.store-toolbar {
  padding:8px 0px 8px 0px;
}